<!-- ================= TOP SALE (FLIPKART STYLE) ================= -->

<section class="container py-5">
    <h4 class="mb-3 mt-5">iPhone</h4>
    <hr>

    <div class="position-relative">

        <div class="product-wrapper" id="product-iphone">

            <!-- Product Cards -->
            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/iphone11.png">
                    <h6 class="mt-3">iPhone 11</h6>
                    <h6 class="text-warning">₹43,900</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:101,name:'iPhone 11',price:43900})">Add to Cart</button>

                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/iphone12.png">
                    <h6 class="mt-3">iPhone 12</h6>
                    <h6 class="text-warning">₹49,900</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:102,name:'iPhone 12',price:49900})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/iphone13.png">
                    <h6 class="mt-3">iPhone 13</h6>
                    <h6 class="text-warning">₹50,900</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:103,name:'iPhone 13',price:50900})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/iphone14.png">
                    <h6 class="mt-3">iPhone 14</h6>
                    <h6 class="text-warning">₹54,900</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:104,name:'iPhone 14',price:54900})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/iphone_15.png">
                    <h6 class="mt-3">iPhone 15</h6>
                    <h6 class="text-warning">₹56,900</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:105,name:'iPhone 15',price:56900})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/15_pro_max.png">
                    <h6 class="mt-3">iPhone 15pro max</h6>
                    <h6 class="text-warning">₹1,68,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:106,name:'iPhone 15pro max',price:168000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/iphone_16.png">
                    <h6 class="mt-3">iPhone 16</h6>
                    <h6 class="text-warning">₹59,900</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:107,name:'iPhone 16',price:59900})">Add to Cart</button>
                </div>
            </div>

             <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/16_pro_max1 (3).png">
                    <h6 class="mt-3">iPhone 16pro max</h6>
                    <h6 class="text-warning">₹1,70,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:108,name:'iPhone 16pro max',price:170000})">Add to Cart</button>
                </div>
            </div>


            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/iphone_17.png">
                    <h6 class="mt-3">iPhone 17</h6>
                    <h6 class="text-warning">₹61,900</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:108,name:'iPhone 17',price:61900})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/17_pro_max1 (1).png">
                    <h6 class="mt-3">iPhone 17pro max</h6>
                    <h6 class="text-warning">₹1,72,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:109,name:'iPhone 17pro max',price:172000})">Add to Cart</button>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <button class="btn btn-warning position-absolute top-50 start-0 translate-middle-y"
            onclick="slide('product-iphone',-1)">‹</button>

        <button class="btn btn-warning position-absolute top-50 end-0 translate-middle-y"
            onclick="slide('product-iphone',1)">›</button>

    </div>
</section>