<section class="container py-5">
    <h4 class="mb-3 mt-5">Oppo</h4>
    <hr>

    <div class="position-relative">

        <div class="product-wrapper" id="product-oppo">

            <!-- Product Cards -->
            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/oppo_a5.png">
                    <h6 class="mt-3">Oppo A5 </h6>
                    <h6 class="text-warning">₹16,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:501,name:'Oppo A5',price:16000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/oppo_a6.png">
                    <h6 class="mt-3">Oppo A6</h6>
                    <h6 class="text-warning">₹15,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:502,name:'Oppo A6',price:15000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/oppo_a17.png">
                    <h6 class="mt-3">Oppo A17</h6>
                    <h6 class="text-warning">₹8,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:503,name:'Oppo A17',price:8000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/oppo_a18.png">
                    <h6 class="mt-3">Oppo A18</h6>
                    <h6 class="text-warning">₹10,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:504,name:'Oppo A18',price:10000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/oppo_a77.png">
                    <h6 class="mt-3">Oppo A77</h6>
                    <h6 class="text-warning">₹17,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:505,name:'Oppo A77',price:17000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/oppo_a78.png">
                    <h6 class="mt-3">Oppo A78</h6>
                    <h6 class="text-warning">₹21,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:506,name:'Oppo A78',price:21000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/oppo_a79.png">
                    <h6 class="mt-3">Oppo A79</h6>
                    <h6 class="text-warning">₹22,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:507,name:'Oppo A79',price:22000})">Add to Cart</button>
                </div>
            </div>





        </div>

    
        <!-- Controls -->
        <button class="btn btn-warning position-absolute top-50 start-0 translate-middle-y"
            onclick="slide('product-oppo',-1)">‹</button>

        <button class="btn btn-warning position-absolute top-50 end-0 translate-middle-y"
            onclick="slide('product-oppo',1)">›</button>
    </div>
</section>