<section class="container py-5">
    <h4 class="mb-3 mt-5">Realme</h4>
    <hr>

    <div class="position-relative">

        <div class="product-wrapper" id="product-realme">

            <!-- Product Cards -->
            <div class="product-card">
                <div class="card p-5 text-center shadow">
                    <img src="assets/image/reamle_11.png" height="180px" width="220px">
                    <h6 class="mt-3">Realme 11 </h6>
                    <h6 class="text-warning">₹18,999</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:401,name:'Realme 11',price:18999})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/reamle_12.png" height="180px" width="220px">
                    <h6 class="mt-3">Realme 12pro</h6>
                    <h6 class="text-warning">₹25999</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:402,name:'Realme 12pro',price:25999})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/realme-13.png" height="180px" width="220px">
                    <h6 class="mt-3">Realme 13</h6>
                    <h6 class="text-warning">₹17,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:403,name:'Realme 13',price:17000})">Add to Cart</button>
                </div>
            </div>
            
            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/reamle_14-removebg-preview.png" height="180px" width="220px">
                    <h6 class="mt-3">Realme 14</h6>
                    <h6 class="text-warning">₹25,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:404,name:'Realme 14',price:25000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/reamle_15.png" height="180px" width="220px">
                    <h6 class="mt-3">Realme 15</h6>
                    <h6 class="text-warning">₹32,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:405,name:'Realme 15',price:32000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/realme-16pro.png" height="180px" width="220px">
                    <h6 class="mt-3">Realme 16pro</h6>
                    <h6 class="text-warning">₹45,900</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:406,name:'Realme 16pro',price:45900})">Add to Cart</button>
                </div>
            </div>




        </div>

        <!-- Controls -->
        <!-- Controls -->
        <button class="btn btn-warning position-absolute top-50 start-0 translate-middle-y"
            onclick="slide('product-realme',-1)">‹</button>

        <button class="btn btn-warning position-absolute top-50 end-0 translate-middle-y"
            onclick="slide('product-realme',1)">›</button>
    </div>
</section>