<section class="container py-5">
    <h4 class="mb-3 mt-5">Redmi</h4>
    <hr>

    <div class="position-relative">

        <div class="product-wrapper" id="product-redmi">

            <!-- Product Cards -->
            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/redmi_10.png">
                    <h6 class="mt-3">Redmi 10 </h6>
                    <h6 class="text-warning">₹10,500</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:301,name:'Redmi 10',price:10500})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/redmi_12.png">
                    <h6 class="mt-3">Redmi 12</h6>
                    <h6 class="text-warning">₹10,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:302,name:'Redmi 12',price:10000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/redmi_13 (2).png">
                    <h6 class="mt-3">Redmi 13</h6>
                    <h6 class="text-warning">₹17,500</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:303,name:'Redmi 13',price:17500})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/redmi_15.png">
                    <h6 class="mt-3">Redmi 15</h6>
                    <h6 class="text-warning">₹25,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:304,name:'Redmi 15',price:25000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/redmi_a4.png">
                    <h6 class="mt-3">Redmi a4</h6>
                    <h6 class="text-warning">₹17,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:305,name:'Redmi a4',price:11499})">Add to Cart</button>
                </div>
            </div>


        </div>

        <!-- Controls -->
        <!-- Controls -->
        <button class="btn btn-warning position-absolute top-50 start-0 translate-middle-y"
            onclick="slide('product-redmi',-1)">‹</button>

        <button class="btn btn-warning position-absolute top-50 end-0 translate-middle-y"
            onclick="slide('product-redmi',1)">›</button>
    </div>
</section>