<section class="container py-5">
    <h4 class="mb-3 mt-5">Samsung</h4>
    <hr>

    <div class="position-relative">

        <div class="product-wrapper" id="product-samsung">

            <!-- Product Cards -->

            
            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/S21.png">
                    <h6 class="mt-3">samusng s21</h6>
                    <h6 class="text-warning">₹70,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:201,name:'S21',price:70000})">Add
                        to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/S22.png">
                    <h6 class="mt-3">samusng s22 </h6>
                    <h6 class="text-warning">₹85,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:202,name:'S22',price:85000})">Add
                        to Cart</button>
                </div>
            </div>
            
            

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/s23.png">
                    <h6 class="mt-3">samusng s23</h6>
                    <h6 class="text-warning">₹55,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:203,name:'S23 Ultra',price:55000})">Add to Cart</button>
                </div>
            </div>
            
            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/s24.png">
                    <h6 class="mt-3">samusng s24</h6>
                    <h6 class="text-warning">₹40,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:204,name:'S24 Ultra',price:40000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/s25.png">
                    <h6 class="mt-3">Samusng s25</h6>
                    <h6 class="text-warning">₹54,999</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:205,name:'Samusng s25',price:54999})">Add
                        to Cart</button>
                </div>
            </div>

            

            

        </div>

        <!-- Controls -->
        <!-- Controls -->
        <button class="btn btn-warning position-absolute top-50 start-0 translate-middle-y"
            onclick="slide('product-samsung',-1)">‹</button>

        <button class="btn btn-warning position-absolute top-50 end-0 translate-middle-y"
            onclick="slide('product-samsung',1)">›</button>
    </div>
</section>