<section class="container py-5">
    <h4 class="mb-3">Top Sale - Samsung</h4>
    <hr>

    <div class="position-relative">

        <div class="product-wrapper" id="top-sale-product-samsung">

            <!-- Product Cards -->
            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/s22_ultra.png">
                    <h6 class="mt-3">samusng s22 ultra </h6>
                    <h6 class="text-warning">₹50,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:8,name:'S22 Ultra',price:50000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/s23_ultra.png">
                    <h6 class="mt-3">samusng s23 ultra</h6>
                    <h6 class="text-warning">₹52,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:9,name:'S23 Ultra',price:52000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/s24.png">
                    <h6 class="mt-3">samusng s24</h6>
                    <h6 class="text-warning">₹60,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:10,name:'S24 Ultra',price:60000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/s25.png">
                    <h6 class="mt-3">samusng s25</h6>
                    <h6 class="text-warning">₹70,000</h6>
                    <button class="btn btn-warning btn-sm w-100" onclick="addToCart({id:11,name:'S25',price:70000})">Add
                        to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/S20.png">
                    <h6 class="mt-3">samusng s20</h6>
                    <h6 class="text-warning">₹75,000</h6>
                    <button class="btn btn-warning btn-sm w-100" onclick="addToCart({id:12,name:'S20',price:75000})">Add
                        to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/S21.png">
                    <h6 class="mt-3">samusng s21</h6>
                    <h6 class="text-warning">₹75,000</h6>
                    <button class="btn btn-warning btn-sm w-100" onclick="addToCart({id:13,name:'S21',price:75000})">Add
                        to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/S22.png">
                    <h6 class="mt-3">samusng s22 </h6>
                    <h6 class="text-warning">₹75,000</h6>
                    <button class="btn btn-warning btn-sm w-100" onclick="addToCart({id:14,name:'S22',price:75000})">Add
                        to Cart</button>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <!-- Controls -->
        <button class="btn btn-warning position-absolute top-50 start-0 translate-middle-y"
            onclick="slide('top-sale-product-samsung',-1)">‹</button>

        <button class="btn btn-warning position-absolute top-50 end-0 translate-middle-y"
            onclick="slide('top-sale-product-samsung',1)">›</button>
    </div>
</section>