<section class="container py-5">
    <h4 class="mb-3 mt-5">Vivo</h4>
    <hr>

    <div class="position-relative">

        <div class="product-wrapper" id="product-vivo">

            <!-- Product Cards -->
            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/vivo_y19.png">
                    <h6 class="mt-3">Vivo Y19 </h6>
                    <h6 class="text-warning">₹10,500</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:601,name:'Vivo Y19',price:10500})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/vivo_y20.png">
                    <h6 class="mt-3">Vivo Y20</h6>
                    <h6 class="text-warning">₹16,990</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:602,name:'Vivo Y20',price:16990})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/vivo_y27.png">
                    <h6 class="mt-3">Vivo Y27</h6>
                    <h6 class="text-warning">₹15,999</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:603,name:'Vivo Y27',price:15999})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/vivo_y28.png">
                    <h6 class="mt-3">Vivo Y28</h6>
                    <h6 class="text-warning">₹11,500</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:604,name:'Vivo Y28',price:11500})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/vivo_y29.png">
                    <h6 class="mt-3">Vivo Y29</h6>
                    <h6 class="text-warning">₹15,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:605,name:'Vivo Y29',price:15000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/vivo_y31.png">
                    <h6 class="mt-3">Vivo Y31</h6>
                    <h6 class="text-warning">₹15,599</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:606,name:'Vivo Y31',price:155990})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/vivo_y300.png">
                    <h6 class="mt-3">Vivo Y300</h6>
                    <h6 class="text-warning">₹23,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:607,name:'Vivo Y300',price:23000})">Add to Cart</button>
                </div>
            </div>

            <div class="product-card">
                <div class="card p-3 text-center shadow">
                    <img src="assets/image/vivo_y400_pro.png">
                    <h6 class="mt-3">Vivo Y400</h6>
                    <h6 class="text-warning">₹27,000</h6>
                    <button class="btn btn-warning btn-sm w-100"
                        onclick="addToCart({id:608,name:'Vivo Y400',price:27000})">Add to Cart</button>
                </div>
            </div>


        </div>

        <!-- Controls -->
        <!-- Controls -->
        <button class="btn btn-warning position-absolute top-50 start-0 translate-middle-y"
            onclick="slide('product-vivo',-1)">‹</button>

        <button class="btn btn-warning position-absolute top-50 end-0 translate-middle-y"
            onclick="slide('product-vivo',1)">›</button>
    </div>
</section>